/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* en of reset css */


body {
    font-family: 'Roboto Mono', cursive;
    background-color: #F5F5F5;
    color: #333;
}

nav {
    padding: 20px 0;
    background-color: #333;
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #DDB9A3;
    color: #FFFFFF;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #FF764E;
}

.top_banner_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top_banner_img img {
    border-radius: 50%;
    width: 300px;
    max-height: 200px;
}

.top_banner {
    flex: 1;
    padding-left: 20px;
}

.top_banner h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 2em;
    margin-bottom: 10px;
}

.content {
    background-color: #DDB9A3;
    padding: 30px 20px;
    margin: 10px 0;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.content center {
    display: block;
}

.bottom_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.bottom_content img {
    width: 80px;
    margin-bottom: 10px;
}

.footer_img_div {
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}

.footer_img_div img {
    width: 100%;
    display: block;
}
